html, body {
  overflow-x: hidden;
}

.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/299491142_3215272075469011_4539727105514793628_n1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 831px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: bold;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  margin: 341px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 60px;
    margin-left: -10px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-1 .u-text-1 {
    margin-left: -5px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 611px;
  }

  .u-section-1 .u-text-1 {
    margin-left: -34px;
    margin-right: -34px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    --animation-custom_in-translate_y: -300px;
    margin-left: -20px;
    margin-right: -20px;
  }
} .u-section-2 {
  background-image: url("images/WebsitePlan-Out.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 977px;
}

.u-section-2 .u-group-1 {
  width: 800px;
  min-height: 131px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 54px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0 18px 0 120px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 689px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 15px;
}

.u-section-2 .u-text-2 {
  margin: 33px 30px 0;
}

.u-section-2 .u-image-1 {
  height: 513px;
  width: 513px;
  margin: 24px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 16px 30px 0;
}

.u-section-2 .u-text-4 {
  margin: 8px 30px 0;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 15px;
}

.u-section-2 .u-text-5 {
  margin: 33px 30px 0;
}

.u-section-2 .u-image-2 {
  height: 513px;
  width: 513px;
  margin: 24px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 16px 30px 0;
}

.u-section-2 .u-text-7 {
  margin: 8px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 907px;
  }

  .u-section-2 .u-group-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_y: 300px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 568px;
  }

  .u-section-2 .u-list-item-1 {
    transition-duration: 0.5s;
    background-position: 50% 50%;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-item-2 {
    transition-duration: 0.5s;
    background-position: 50% 50%;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 930px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 58px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: -246px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 663px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    height: 786px;
    margin-top: -181px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -187px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-2 {
    height: 786px;
    margin-top: -181px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -187px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 797px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 0;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: -78px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 540px;
  }

  .u-section-2 .u-image-1 {
    height: 590px;
    margin-top: -115px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-top: -114px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 0;
  }

  .u-section-2 .u-image-2 {
    height: 590px;
    margin-top: -115px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-6 {
    margin-top: -114px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 238px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 55px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1040px;
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    height: 321px;
    margin-top: 25px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-top: 31px;
  }

  .u-section-2 .u-image-2 {
    height: 321px;
    margin-top: 25px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-6 {
    margin-top: 31px;
  }
} .u-section-3 {
  background-image: url("images/WebsitePlan-Out.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 908px;
}

.u-section-3 .u-group-1 {
  width: 800px;
  min-height: 163px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 95px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-3 .u-text-1 {
  margin: 40px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 43px;
  margin-bottom: -499px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 537px;
}

.u-section-3 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 15px;
}

.u-section-3 .u-text-2 {
  margin: 33px 30px 0;
}

.u-section-3 .u-image-1 {
  height: 312px;
  width: 312px;
  margin: 11px 30px 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 47px 43px 0 17px;
}

.u-section-3 .u-text-4 {
  margin: 0 30px;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 0 15px;
}

.u-section-3 .u-text-5 {
  margin: 33px 30px 0;
}

.u-section-3 .u-image-2 {
  height: 312px;
  width: 312px;
  margin: 11px 30px 0 auto;
}

.u-section-3 .u-text-6 {
  margin: 47px 43px 0 17px;
}

.u-section-3 .u-text-7 {
  margin: 0 30px;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 0 15px;
}

.u-section-3 .u-text-8 {
  margin: 33px 30px 0;
}

.u-section-3 .u-image-3 {
  height: 312px;
  width: 312px;
  margin: 11px 30px 0 auto;
}

.u-section-3 .u-text-9 {
  margin: 47px 43px 0 17px;
}

.u-section-3 .u-text-10 {
  margin: 0 30px;
}

.u-section-3 .u-image-4 {
  height: 189px;
  width: 189px;
  margin: 28px 830px 282px -646px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 764px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 110px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_y: 300px;
    height: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 443px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1018px;
  }

  .u-section-3 .u-image-1 {
    height: 320px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 24px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 7px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    height: 320px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 24px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-3 .u-image-3 {
    height: 320px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 24px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: 7px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 480px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 480px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 480px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    margin-bottom: 362px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 897px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 76px;
  }

  .u-section-3 .u-image-1 {
    height: 302px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 302px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 302px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    margin-right: 814px;
  }
} .u-section-4 {
  background-image: url("images/WebsitePlan-Out.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 994px;
}

.u-section-4 .u-group-1 {
  width: 800px;
  min-height: 131px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 54px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-4 .u-text-1 {
  margin: 0 18px 0 120px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 32px;
  margin-bottom: -33px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 537px;
}

.u-section-4 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 22px 15px;
}

.u-section-4 .u-text-2 {
  margin: 33px 8px 0;
}

.u-section-4 .u-image-1 {
  height: 513px;
  width: 513px;
  margin: 45px auto 0 0;
}

.u-section-4 .u-text-3 {
  margin: 22px 8px 0;
}

.u-section-4 .u-text-4 {
  margin: 8px 8px 0;
}

.u-section-4 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 22px 15px;
}

.u-section-4 .u-text-5 {
  margin: 33px 8px 0;
}

.u-section-4 .u-image-2 {
  height: 513px;
  width: 513px;
  margin: 45px auto 0 0;
}

.u-section-4 .u-text-6 {
  margin: 22px 8px 0;
}

.u-section-4 .u-text-7 {
  margin: 8px 8px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 983px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 105px;
    height: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 443px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 42px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-4 .u-image-1 {
    height: 505px;
    margin-top: 26px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 42px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-4 .u-image-2 {
    height: 505px;
    margin-top: 26px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-left: 22px;
    margin-right: 22px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 933px;
  }

  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 58px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: -242px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 646px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    height: 774px;
    margin-top: -186px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    margin-top: -182px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-4 .u-text-5 {
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    height: 774px;
    margin-top: -186px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-6 {
    margin-top: -182px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 0;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: -33px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 528px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 44px;
  }

  .u-section-4 .u-image-1 {
    height: 581px;
    margin-top: -123px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    margin-top: -135px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 13px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 44px;
  }

  .u-section-4 .u-image-2 {
    height: 581px;
    margin-top: -123px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-6 {
    margin-top: -135px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 65px;
    width: 100%;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1140px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 50px;
  }

  .u-section-4 .u-image-1 {
    height: 732px;
    margin-top: -168px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    margin-top: -164px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 0;
  }

  .u-section-4 .u-text-5 {
    margin-top: 50px;
  }

  .u-section-4 .u-image-2 {
    height: 732px;
    margin-top: -168px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-6 {
    margin-top: -164px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 0;
  }
} .u-section-5 {
  background-image: url("images/WebsitePlan-Out.png");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 1019px;
}

.u-section-5 .u-group-1 {
  width: 800px;
  min-height: 131px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 43px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-5 .u-text-1 {
  margin: 0 43px 0 95px;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 43px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 716px;
}

.u-section-5 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 13px 15px;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 31px 17px 0;
}

.u-section-5 .u-image-1 {
  height: 513px;
  width: 513px;
  margin: 47px auto 0;
}

.u-section-5 .u-text-3 {
  margin: 22px 17px 0;
}

.u-section-5 .u-text-4 {
  margin: 8px 17px 0;
}

.u-section-5 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 13px 15px;
}

.u-section-5 .u-text-5 {
  font-size: 1.25rem;
  margin: 31px 17px 0;
}

.u-section-5 .u-image-2 {
  height: 513px;
  width: 513px;
  margin: 47px auto 0;
}

.u-section-5 .u-text-6 {
  margin: 22px 17px 0;
}

.u-section-5 .u-text-7 {
  margin: 8px 17px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1065px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 90px;
    height: auto;
  }

  .u-section-5 .u-list-1 {
    height: auto;
    margin-bottom: -269px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 590px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 49px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-3 {
    margin-top: 20px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-image-2 {
    margin-top: 49px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-6 {
    margin-top: 20px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 924px;
  }

  .u-section-5 .u-group-1 {
    width: 720px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 3px;
    margin-left: 55px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    height: 786px;
    margin-top: -191px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: -189px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    height: 786px;
    margin-top: -191px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: -189px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 888px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 478px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-image-1 {
    height: 590px;
    margin-top: -137px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-3 {
    margin-top: -136px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 9px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-image-2 {
    height: 590px;
    margin-top: -137px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-6 {
    margin-top: -136px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 281px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 50px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1026px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-5 .u-image-1 {
    height: 743px;
    margin-top: -171px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-3 {
    margin-top: -172px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 0;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-5 .u-image-2 {
    height: 743px;
    margin-top: -171px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-6 {
    margin-top: -172px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 287px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  margin: 60px 0 0 auto;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  margin: 13px 0 0 auto;
}

.u-section-6 .u-layout-wrap-1 {
  width: 520px;
  margin: 0 -126px 32px auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 108px;
}

.u-section-6 .u-container-layout-1 {
  padding: 29px 60px;
}

.u-section-6 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 222px;
  min-width: 94px;
  margin: 0 67px 0 auto;
}

.u-section-6 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-6 .u-icon-2 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-6 .u-icon-3 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-6 .u-icon-4 {
  height: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 191px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 170px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 216px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: 13px;
    margin-right: 116px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 141px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: 0;
    margin-right: 0;
  }
}
