 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/299491142_3215272075469011_4539727105514793628_n.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 831px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: bold;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 341px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 215px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-1 .u-text-1 {
    margin-right: auto;
    margin-left: -23px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
} .u-section-2 {
  background-image: url("images/WebsitePlan-Out.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1406px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 99px;
  margin-bottom: -869px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 1212px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-1 {
  padding: 51px 30px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-image-1 {
  height: 360px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 8px 0 0;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-2 {
  padding: 51px 30px;
}

.u-section-2 .u-text-4 {
  margin: 0;
}

.u-section-2 .u-image-2 {
  height: 360px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 8px 0 0;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-3 {
  padding: 51px 30px;
}

.u-section-2 .u-text-7 {
  margin: 0;
}

.u-section-2 .u-image-3 {
  height: 360px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-9 {
  margin: 8px 0 0;
}

.u-section-2 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-4 {
  padding: 51px 30px;
}

.u-section-2 .u-text-10 {
  margin: 0;
}

.u-section-2 .u-image-4 {
  height: 360px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-12 {
  margin: 8px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 980px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
    margin-bottom: 106px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 999px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 31px;
    padding-bottom: 31px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-image-1 {
    height: 289px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 31px;
    padding-bottom: 31px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-image-2 {
    height: 289px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 31px;
    padding-bottom: 31px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
  }

  .u-section-2 .u-image-3 {
    height: 289px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 31px;
    padding-bottom: 31px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
  }

  .u-section-2 .u-image-4 {
    height: 289px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 940px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 66px;
    width: 100%;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1265px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 31px;
  }

  .u-section-2 .u-image-1 {
    height: 465px;
    margin-top: 21px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 13px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 31px;
  }

  .u-section-2 .u-image-2 {
    height: 465px;
    margin-top: 21px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 13px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 31px;
  }

  .u-section-2 .u-image-3 {
    height: 465px;
    margin-top: 21px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 13px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-10 {
    margin-top: 31px;
  }

  .u-section-2 .u-image-4 {
    height: 465px;
    margin-top: 21px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: 13px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1060px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 86px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 2100px;
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 39px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 366px;
    margin-top: 13px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 39px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 366px;
    margin-top: 13px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 39px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 366px;
    margin-top: 13px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-8 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-top: 39px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-image-4 {
    height: 366px;
    margin-top: 13px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-11 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1600px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-image-1 {
    height: 378px;
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-top: 19px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-2 .u-image-2 {
    height: 378px;
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-top: 19px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 20px;
  }

  .u-section-2 .u-image-3 {
    height: 378px;
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-8 {
    margin-top: 19px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 20px;
  }

  .u-section-2 .u-image-4 {
    height: 378px;
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-11 {
    margin-top: 19px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 238px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 60px 0 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 13px 0 0 auto;
}

.u-section-3 .u-layout-wrap-1 {
  width: 520px;
  margin: 0 -126px 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 108px;
}

.u-section-3 .u-container-layout-1 {
  padding: 29px 60px;
}

.u-section-3 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 222px;
  min-width: 94px;
  margin: 0 67px 0 auto;
}

.u-section-3 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-3 .u-icon-2 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-3 .u-icon-3 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-3 .u-icon-4 {
  height: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 191px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 170px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 18px 30px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-right: 96px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 216px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 20px;
    margin-right: 116px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 141px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 13px 0;
  }

  .u-section-3 .u-social-icons-1 {
    margin-right: -5px;
  }
}
