.u-section-1 .u-sheet-1 {
  min-height: 2556px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 151px;
  height: auto;
  margin: 55px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-group-2 {
  margin-top: 47px;
  margin-bottom: 0;
  min-height: 963px;
  height: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 18px 0;
}

.u-section-1 .u-group-3 {
  width: 523px;
  min-height: 523px;
  margin: 29px auto 0 47px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  width: 463px;
  height: 463px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: -523px 72px 0 625px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 208px 55px 0 45px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-1 .u-group-4 {
  min-height: 1099px;
  height: auto;
  margin-top: 89px;
  margin-bottom: 60px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-1 .u-group-5 {
  width: 523px;
  min-height: 523px;
  margin: 17px auto 0 47px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-1 .u-image-2 {
  width: 463px;
  height: 463px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: -523px 45px 0 602px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 65px 52px 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 55px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3510px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    margin-top: 55px;
    min-height: 1491px;
    height: auto;
  }

  .u-section-1 .u-group-3 {
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 104px;
    margin-right: 15px;
    margin-left: 33px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 30px;
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 124px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 81px;
    min-height: 1617px;
    height: auto;
  }

  .u-section-1 .u-group-5 {
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 60px;
    margin-right: 414px;
    margin-left: 34px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 25px;
    margin-left: 34px;
    margin-right: 34px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3606px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 44px;
    margin-right: 44px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 44px;
    margin-right: 44px;
  }

  .u-section-1 .u-group-4 {
    min-height: 1745px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 49px;
    margin-right: 49px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3881px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    min-height: 1683px;
  }

  .u-section-1 .u-group-3 {
    width: 471px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 68px;
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 67px;
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-1 .u-group-4 {
    min-height: 1905px;
  }

  .u-section-1 .u-group-5 {
    width: 459px;
  }

  .u-section-1 .u-image-2 {
    width: 455px;
    height: 455px;
    margin-top: 8px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 60px;
    margin-left: 39px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 45px;
    margin-left: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-group-2 {
    min-height: 1960px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
    min-height: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 68px;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 123px;
  }

  .u-section-1 .u-group-4 {
    min-height: 2230px;
  }

  .u-section-1 .u-group-5 {
    width: 340px;
    min-height: 340px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 22px;
    margin-right: 22px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1784px;
}

.u-section-2 .u-group-1 {
  width: 800px;
  min-height: 151px;
  height: auto;
  margin: 82px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-group-2 {
  margin-top: 64px;
  margin-bottom: 0;
  min-height: 628px;
  height: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 18px 0;
}

.u-section-2 .u-group-3 {
  width: 523px;
  min-height: 523px;
  margin: 29px auto 0 47px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-image-1 {
  width: 463px;
  height: 463px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: -523px 81px 0 617px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 136px 222px 0 auto;
}

.u-section-2 .u-group-4 {
  min-height: 662px;
  height: auto;
  margin-top: 81px;
  margin-bottom: 60px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-2 .u-group-5 {
  width: 523px;
  min-height: 523px;
  margin: 17px auto 0 47px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-2 .u-image-2 {
  width: 463px;
  height: 463px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: normal;
  font-size: 1.5rem;
  margin: -511px 47px 0 600px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 122px 199px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-group-2 {
    min-height: 1131px;
    height: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 30px;
    margin-right: 451px;
    margin-left: 47px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 60px;
    margin-right: auto;
    margin-left: 173px;
  }

  .u-section-2 .u-group-4 {
    min-height: 1129px;
    height: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 30px;
    margin-right: 400px;
    margin-left: 47px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 47px;
    margin-right: auto;
    margin-left: 199px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2698px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 70px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 231px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 36px;
    margin-left: 107px;
  }

  .u-section-2 .u-group-4 {
    margin-top: 75px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 180px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 36px;
    margin-left: 122px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 69px;
  }

  .u-section-2 .u-group-3 {
    margin-left: 17px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 81px;
    margin-left: 17px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 29px;
    margin-left: auto;
  }

  .u-section-2 .u-group-4 {
    margin-top: 76px;
  }

  .u-section-2 .u-group-5 {
    margin-left: 17px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 30px;
    margin-left: 17px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 37px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-group-3 {
    width: 340px;
    margin-left: 0;
    min-height: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-right: 17px;
    margin-left: 26px;
  }

  .u-section-2 .u-group-5 {
    width: 340px;
    margin-left: 0;
    min-height: 340px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 340px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-right: 17px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 238px;
}

.u-section-3 .u-text-1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 36px 0 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.375rem;
  margin: 10px 0 0 auto;
}

.u-section-3 .u-social-icons-1 {
  height: 46px;
  min-height: 16px;
  width: 214px;
  min-width: 94px;
  margin: 25px 0 42px auto;
}

.u-section-3 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-3 .u-icon-2 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-3 .u-icon-3 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-3 .u-icon-4 {
  height: 0;
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }
}