.scroller {
  overflow-x: hidden;
}

 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/299491142_3215272075469011_4539727105514793628_n1.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 831px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: bold;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 338px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 685px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 196px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 206px;
    margin-left: -2px;
    margin-right: -2px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 60px;
    margin-left: -1px;
    margin-right: -1px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 460px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 680px;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: 20px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 300px;
  margin: 28px auto 50px;
  padding: 15px 100px 16px 99px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-2 .u-text-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 26px;
    margin-bottom: 52px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 549px;
}

.u-section-3 .u-text-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 300px;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  width: 740px;
  font-size: 1.5rem;
  font-weight: 700;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  width: 996px;
  margin: 0 auto 52px 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 315px;
  grid-gap: 10px 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-3 .u-group-1 {
  width: 311px;
  min-height: 105px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: 18px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-image-1 {
  width: 180px;
  height: 151px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-3 .u-group-2 {
  width: 311px;
  min-height: 105px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 18px auto 0;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-image-2 {
  width: 180px;
  height: 151px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-3 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    width: 940px;
    margin-left: 0;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    --animation-custom_in-scale: 0.3;
  }

  .u-section-3 .u-group-1 {
    --animation-custom_in-scale: 0.3;
    animation-duration: 1000ms;
  }

  .u-section-3 .u-text-4 {
    width: auto;
  }

  .u-section-3 .u-text-5 {
    --animation-custom_in-scale: 0.3;
  }

  .u-section-3 .u-group-2 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-scale: 0.3;
    animation-duration: 1000ms;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-6 {
    width: auto;
  }
} .u-section-4 {
  min-height: 607px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 4px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 603px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 50px 30px 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  background-image: none;
  width: 431px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 21px auto 0;
}

.u-section-4 .u-image-1 {
  width: 73px;
  height: 73px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -473px auto 0 49px;
}

.u-section-4 .u-image-2 {
  width: 68px;
  height: 68px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 274px 55px 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 336px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 24px 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  font-weight: normal;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 50px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 336px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 10px;
}

.u-section-4 .u-text-6 {
  font-size: 1.25rem;
  font-weight: normal;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 35px 0 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 267px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-4 .u-text-8 {
  font-size: 1.25rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 29px auto 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 267px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-9 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-4 .u-text-10 {
  font-size: 1.25rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 48px 0 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 521px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 592px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 45px;
    margin-right: 45px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -452px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 247px;
    margin-right: 50px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 277px;
    background-color: #7693c4;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 277px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 220px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 220px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 792px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 525px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 51px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -348px;
    margin-left: 94px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 185px;
    margin-right: 73px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 239px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 239px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: 33px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1044px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 547px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 70px;
  }

  .u-section-4 .u-text-2 {
    width: 431px;
    margin-top: -19px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-1 {
    margin-top: -453px;
    margin-left: 46px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 261px;
    margin-right: 56px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 166px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 903px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 672px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
    margin-top: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: -559px;
    margin-left: 43px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 357px;
    margin-right: 50px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 196px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 30px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-text-6 {
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-text-8 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 175px;
  }

  .u-section-4 .u-text-10 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    margin-top: 17px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 295px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 60px 0 0 auto;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: 13px 0 0 auto;
}

.u-section-5 .u-layout-wrap-1 {
  width: 520px;
  margin: 0 -126px 32px auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 108px;
}

.u-section-5 .u-container-layout-1 {
  padding: 29px 60px;
}

.u-section-5 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 222px;
  min-width: 94px;
  margin: 0 66px 0 auto;
}

.u-section-5 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-5 .u-icon-2 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-5 .u-icon-3 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-5 .u-icon-4 {
  height: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 191px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 170px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 27px 30px;
  }

  .u-section-5 .u-social-icons-1 {
    margin-right: 92px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 216px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-social-icons-1 {
    margin-right: 116px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 141px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-social-icons-1 {
    margin-right: 0;
  }
}
